@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header{
  display: flex;
  align-items:center;
  justify-content: space-between;

  width: 100%;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color:gainsboro;
}

.left-links-up,
.right-links-up{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:10px;

  padding-left: 10px;
  padding-top: 0px;
}

.right-links-up{
  padding-right: 10px;
}

.left-links-down,
.right-links-down{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:10px;

  padding-left: 10px;
  padding-top: 0px;
}

.right-links-down{
  padding-right: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li{
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color: rgb(92, 91, 91);
}

a:hover{
  color:goldenrod;
}